/* Ultra monitor */ 
@media screen and (min-width: 2154px){
    .background{
        background-color: #0bb9d4;
    }
    .item1 {
        width: 80%;
        height: 50%;
        max-width: 1750px;
        min-width: 1750px;
        min-height: 850px;
        max-height: 850px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top:60px;
    
        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */
    
        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
        }
    
        .item2 {
            width: 80%;
            height: 15%;
            max-width: 1750px;
            min-width: 1750px;
            min-height: 110px;
            max-height: 110px;
            text-align: center;
            margin: auto;
            margin-bottom: 0%;
            margin-top: 10px;
    
            border-radius: 1%;
            
            /* border: 3px solid #8d8d8d0a; */
    
            border: 2px solid rgb(49, 49, 49);
            background-color: var(--panel-bg-color,#141414);
            border: none;
            border-radius: var(--border-radius-base,6px);
            box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
            /* border: 2px;
            border: none;
            border-radius: var(--border-radius-base,6px); */
        }
    .img_Title1{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 30px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description1{
        margin: auto;
        width: 50%;
        margin-top: -12px;
        padding-bottom: 0.4%;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0.3%;
        font-size: 17px;     
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
.row {
        border: 5px solid rgb(247, 51, 51);
        display: table;
        display: flex;
        border-collapse: collapse;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-left:100px;
    }
    .item {
        width: 98%;
        min-width: 2110.92px;
        max-width: 2110.92px;
        text-align: left;
        margin: auto;
        margin-top: 1%;
        padding: 1%;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 /50%);
        background-color:#141414;
    
        border-radius: 1%;
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }
    .order {
        width: 100%;
        padding-bottom: 15px;
        padding: 1%;
        padding-bottom: 2%;
        background-color: #1a1a1a6a;
        border-radius: 1%;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 50px;
        margin-right: 5px;
        margin-left: 5px;
        display:inline-block;   
        width:19%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:40%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        /*max-width: 300px;
        max-height: 150px;*/
        max-width: 390px;
        min-width: 390px;
        max-height: 500px;
        min-height: 500px;
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
    
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    
    img{
        border-radius: 2%;
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align:center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align:center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 17px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }

    /* image zoom */

    #myImg {
    border-radius: 12121px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    }
    
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(184, 18, 18);
    text-decoration: none;
    cursor: pointer;
    }
}
/* Firefox monitor */ 
@media screen and (min-width: 1500px) and (max-width: 2154px){
    .background{
        background-color: #db0d0d;
    }
    .item1 {
        width: 80%;
        height: 50%;
        max-width: 1200px;
        min-width: 1200px;
        min-height: 500px;
        max-height: 500px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top:60px;
    
        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */
    
        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
        }
    
    .item2 {
        width: 80%;
        height: 15%;
        max-width: 1200px;
        min-width: 1200px;
        min-height: 120px;
        max-height: 120px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top: 10px;

        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */

        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }

    .img_Title1{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 30px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description1{
        margin: auto;
        width: 50%;
        margin-top: -12px;
        padding-bottom: 0.4%;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0.3%;
        font-size: 17px;     
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }

    .row {
        border: 5px solid rgb(247, 51, 51);
        display: table;
        display: flex;
        border-collapse: collapse;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-left:100px;
    }
    .item {
        width: 98%;
        min-width: 1465.1px;
        max-width: 1465.1px;
        text-align: left;
        margin: auto;
        margin-top:1%;
        padding: 1%;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 /50%);
        background-color:#141414;
    
        border-radius: 1%;
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }
    .order {
        width: 100%;
        padding-bottom: 15px;
        padding: 1%;
        padding-bottom: 3%;
        background-color: #1a1a1a6a;
        border-radius: 1%;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 50px;
        margin-right: 5px;
        margin-left: 5px;
        display:inline-block;   
        width:19%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:40%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        /*max-width: 300px;
        max-height: 150px;*/
        max-width: 265px;
        min-width: 265px;
        min-height: 400px;
        max-height: 400px;
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
    
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    
    img{
        border-radius: 2%;
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align:center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -1px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }

    /* image zoom */

    #myImg {
    border-radius: 12121px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    }
    
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(184, 18, 18);
    text-decoration: none;
    cursor: pointer;
    }
}
/* Opera monitor */ 
@media screen and (min-width: 1495px) and (max-width: 1500px){
    .background{
        background-color: #e98605;
    }
    .item1 {
        width: 80%;
        height: 50%;
        max-width: 1200px;
        min-width: 1200px;
        min-height: 500px;
        max-height: 500px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top:60px;
    
        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */
    
        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
        }
    
    .item2 {
        width: 80%;
        height: 15%;
        max-width: 1200px;
        min-width: 1200px;
        min-height: 120px;
        max-height: 120px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top: 10px;

        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */

        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }

    .img_Title1{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 30px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description1{
        margin: auto;
        width: 50%;
        margin-top: -12px;
        padding-bottom: 0.4%;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0.3%;
        font-size: 17px;     
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }

    .row {
        border: 5px solid rgb(247, 51, 51);
        display: table;
        display: flex;
        border-collapse: collapse;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-left:100px;
    }
    .item {
        width: 98%;
        min-width: 1465.1px;
        max-width: 1465.1px;
        text-align: left;
        margin: auto;
        margin-top:1%;
        padding: 1%;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 /50%);
        background-color:#141414;
    
        border-radius: 1%;
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }
    .order {
        width: 100%;
        padding-bottom: 15px;
        padding: 1%;
        padding-bottom: 3%;
        background-color: #1a1a1a6a;
        border-radius: 1%;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 50px;
        margin-right: 5px;
        margin-left: 5px;
        display:inline-block;   
        width:19%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:40%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        /*max-width: 300px;
        max-height: 150px;*/
        max-width: 267px;
        min-width: 267px;
        min-height: 400px;
        max-height: 400px;
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
    
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    
    img{
        border-radius: 2%;
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align:center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -1px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }

    /* image zoom */

    #myImg {
    border-radius: 12121px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    }
    
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(184, 18, 18);
    text-decoration: none;
    cursor: pointer;
    }
      
}
/* Big Tablet */ 
@media screen and (min-width: 1000px) and (max-width: 1495px){
    .background{
        background-color: #ebe410;
    }
    .item1 {
        width: 80%;
        height: 50%;
        max-width: 888px;
        min-width: 888px;
        min-height: 497px;
        max-height: 497px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top:60px;
    
        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */
    
        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
        }
    
    .item2 {
        width: 80%;
        height: 15%;
        max-width: 888px;
        min-width: 888px;
        min-height: 100px;
        max-height: 100px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top: 10px;

        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */

        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }

    .img_Title1{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 30px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description1{
        margin: auto;
        width: 50%;
        margin-top: -12px;
        padding-bottom: 0.4%;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0.3%;
        font-size: 17px;     
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }

    .row {
        border: 5px solid rgb(247, 51, 51);
        display: table;
        display: flex;
        border-collapse: collapse;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-left:100px;
    }
    .item {
        width: 98%;
        min-width: 980px;
        max-width: 980px;
        text-align: left;
        margin: auto;
        margin-top: 2%;
        padding: 1%;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 /50%);
        background-color:#141414;
    
        border-radius: 1%;
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }
    .order {
        width: 100%;
        padding-bottom: 15px;
        padding: 1%;
        padding-bottom: 2%;
        background-color: #1a1a1a6a;
        border-radius: 1%;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 50px;
        margin-right: 5px;
        margin-left: 5px;
        display:inline-block;   
        width:31.9%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:45%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        /*max-width: 300px;
        max-height: 150px;*/
        max-width: 297px;
        min-width: 297px;
        max-height: 430px;
        min-height: 430px;
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
    
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    
    img{
        border-radius: 2%;
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -1px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }

    /* image zoom */

    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    }
    
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(184, 18, 18);
    text-decoration: none;
    cursor: pointer;
    }
      
}
/* Tablet */ 
@media screen and (min-width: 700px) and (max-width: 1000px){
    .background{
        background-color: #919191;
    }
    .item1 {
        width: 80%;
        height: 50%;
        max-width: 630px;
        min-width: 630px;
        min-height: 400px;
        max-height: 400px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top:75px;
    
        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */
    
        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
        }
    
    .item2 {
        width: 80%;
        height: 15%;
        max-width: 630px;
        min-width: 630px;
        min-height: 100px;
        max-height: 100px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top: 10px;

        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */

        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }

    .img_Title1{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 30px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description1{
        margin: auto;
        width: 50%;
        margin-top: -12px;
        padding-bottom: 0.4%;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0.3%;
        font-size: 17px;     
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }

    .row {
        border: 5px solid rgb(247, 51, 51);
        display: table;
        display: flex;
        border-collapse: collapse;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-left:100px;
    }
    .item {
        width: 98%;
        min-width: 686px;
        max-width: 686px;
        text-align: left;
        margin: auto;
        margin-top: 2%;
        padding: 1%;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 /50%);
        background-color:#141414;
    
        border-radius: 1%;
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }
    .order {
        width: 100%;
        padding-bottom: 15px;
        padding: 1%;
        padding-bottom: 2%;
        background-color: #1a1a1a6a;
        border-radius: 1%;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 50px;
        margin-right: 5px;
        margin-left: 5px;
        display:inline-block;   
        width:31.2%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:30%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 204px;
        min-width: 204px;
        max-height: 300px;
        min-height: 300px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
    
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    
    img{
        border-radius: 2%;
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -1px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }

    /* image zoom */

    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    }
    
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(184, 18, 18);
    text-decoration: none;
    cursor: pointer;
    }

}
/* Phone */ 
@media screen and (min-width: 350px) and (max-width: 700px){
    .background{
        background-color: #02c4ff;
    }
    .item1 {
        width: 80%;
        height: 50%;
        min-width: 343px;
        min-height: 400px;
        max-height: 400px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top:75px;
    
        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */
    
        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
        }
    
    .item2 {
        width: 80%;
        height: 15%;
        min-width: 343px;
        min-height: 100px;
        max-height: 100px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top: 10px;

        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */

        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }

    .img_Title1{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 30px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description1{
        margin: auto;
        width: 50%;
        margin-top: -12px;
        padding-bottom: 0.4%;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0.3%;
        font-size: 17px;     
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }

    .row {
        border: 5px solid rgb(247, 51, 51);
        display: table;
        display: flex;
        border-collapse: collapse;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-left:100px;
    }
    .item {
        width: 98%;
        min-width: 343px;
        max-width: 343px;
        text-align: center;
        margin: auto;
        margin-top: 2%;
        padding: 1%;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 /50%);
        background-color:#141414;
    
        border-radius: 1%;
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }
    .order {
        width: 100%;
        padding: 1%;
        padding-top: 5%;
        background-color: #1a1a1a6a;
        border-radius: 1%;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 100px;
        margin-right: 5px;
        margin-left: 5px;
        display:inline-block;   
        width:31%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:30%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 300px;
        min-width: 300px;
        max-height: 400px;
        min-height: 400px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
    
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    
    img{
        border-radius: 2%;
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -1px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }

    /* image zoom */

    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    }
    
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(184, 18, 18);
    text-decoration: none;
    cursor: pointer;
    }

      
}
/* Small Phone */ 
@media screen and (max-width: 350px){
    .background{
        background-color: #ff0015;
    }
    .item1 {
        width: 80%;
        height: 50%;
        min-width: 343px;
        min-height: 400px;
        max-height: 400px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top:75px;
    
        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */
    
        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
        }
    
    .item2 {
        width: 80%;
        height: 15%;
        min-width: 343px;
        min-height: 100px;
        max-height: 100px;
        text-align: center;
        margin: auto;
        margin-bottom: 0%;
        margin-top: 10px;

        border-radius: 1%;
        
        /* border: 3px solid #8d8d8d0a; */

        border: 2px solid rgb(49, 49, 49);
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%); 
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }

    .img_Title1{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 30px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description1{
        margin: auto;
        width: 50%;
        margin-top: -12px;
        padding-bottom: 0.4%;
        overflow: hidden;
        max-width: 100ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0.3%;
        font-size: 17px;     
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }

    .row {
        border: 5px solid rgb(247, 51, 51);
        display: table;
        display: flex;
        border-collapse: collapse;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding-left:100px;
    }
    .item {
        width: 98%;
        min-width: 343px;
        max-width: 343px;
        text-align: center;
        margin: auto;
        margin-top: 2%;
        padding: 1%;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 /50%);
        background-color:#141414;
    
        border-radius: 1%;
        /* border: 2px;
        border: none;
        border-radius: var(--border-radius-base,6px); */
    }
    .order {
        width: 100%;
        padding: 1%;
        padding-top: 5%;
        background-color: #1a1a1a6a;
        border-radius: 1%;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 100px;
        margin-right: 5px;
        margin-left: 5px;
        display:inline-block;   
        width:31%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:30%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 300px;
        min-width: 300px;
        max-height: 400px;
        min-height: 400px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
    
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    
    img{
        border-radius: 2%;
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -1px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }

    /* image zoom */

    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    }
    
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(184, 18, 18);
    text-decoration: none;
    cursor: pointer;
    } 
}
 
img{
    border-radius: 2%;
}
    .background_img{
        background-image: url('rebourtino/Wallpaper.jpeg');
        background-attachment: fixed;
        background-repeat: no-repeat, repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    
    a:hover {
        background: #8d8d8d;
      }
    
      /* .background{
        background-color: #1c1c1c;
    } */
    #myImg {
        border-radius: 0%;
        object-fit:contain; 
        width: 100%;
        height:100%;
        cursor: pointer;
        transition: 0.3s;
        }
        .background{
            background-color: #1c1c1c;
        }