/* Ultra monitor */ 
@media screen and (min-width: 2154px){
    .background{
        background-color: #fffb0273;
        margin-top: -25px;
    }
          
    h3{
        color: rgb(180, 180, 180);
        font-weight: 700;
    }
    h2{
        color: rgb(180, 180, 180);
    }
    hr{
        background-color: rgb(180, 180, 180);
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    p{
        color: rgb(180, 180, 180);
    }
    
    img{
        border-radius: 2%;
    }
    pre{
        color: rgb(180, 180, 180);
    }
    
    
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
        
    
        /* border: 3px solid rgb(60, 60, 60); */
    }
    .order {
        width: 90%;
        max-width: 1938px;
        min-width: 1938px;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin-bottom: 1em;
        margin: auto;  
        background-color: #141414;   
    }
    
    .order2 {
        width: 90%;
        max-width: 1938px;
        min-width: 1938px;
        padding: 1.2%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin: auto;  
        background-color: #141414;  
        text-align: left;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 80px;
        margin-left: 1%;
        display:inline-block;  

        width:47%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:15%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 355px;
        min-width: 355px;
        max-height: 355px;
        min-height: 355px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: left;
        margin-top: 1px;
        margin-bottom: -4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }
}
/* Firefox monitor */ 
@media screen and (min-width: 1500px) and (max-width: 2154px){
    .background{
        background-color: #fc06db;
        margin-top: -33px;
    }
      
        
    h3{
        color: rgb(180, 180, 180);
        font-weight: 700;
    }
    h2{
        color: rgb(180, 180, 180);
    }
    hr{
        background-color: rgb(180, 180, 180);
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    p{
        color: rgb(180, 180, 180);
    }
    
    img{
        border-radius: 2%;
    }
    pre{
        color: rgb(180, 180, 180);
    }
    
    
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
        
    
        /* border: 3px solid rgb(60, 60, 60); */
    }
    .order {
        width: 90%;
        max-width: 1345px;
        min-width: 1345px;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin-bottom: 1em;
        margin: auto;  
        background-color: #141414;   
    }
    
    .order2 {
        width: 90%;
        max-width: 1345px;
        min-width: 1345px;
        padding: 1.2%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin: auto;  
        background-color: #141414;  
        text-align: left;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 80px;
        margin-left: 1%;
        display:inline-block;  

        width:47%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:15%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 245px;
        min-width: 245px;
        max-height: 230px;
        min-height: 230px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: left;
        margin-top: 1px;
        margin-bottom: -4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }
}
/* Opera monitor */ 
@media screen and (min-width: 1495px) and (max-width: 1500px){
    .background{
        background-color: #f99b04;
        margin-top: -33px;
    }
    
        
    h3{
        color: rgb(180, 180, 180);
        font-weight: 700;
    }
    h2{
        color: rgb(180, 180, 180);
    }
    hr{
        background-color: rgb(180, 180, 180);
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    p{
        color: rgb(180, 180, 180);
    }
    
    img{
        border-radius: 2%;
    }
    pre{
        color: rgb(180, 180, 180);
    }
    
    
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
        
    
        /* border: 3px solid rgb(60, 60, 60); */
    }
    .order {
        width: 90%;
        max-width: 1345px;
        min-width: 1345px;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin-bottom: 1em;
        margin: auto;  
        background-color: #141414;   
    }
    
    .order2 {
        width: 90%;
        max-width: 1345px;
        min-width: 1345px;
        padding: 1.2%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin: auto;  
        background-color: #141414;  
        text-align: left;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 80px;
        margin-left: 1%;
        display:inline-block;  

        width:47%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:15%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 245px;
        min-width: 245px;
        max-height: 230px;
        min-height: 230px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: left;
        margin-top: 1px;
        margin-bottom: -4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }
}
/* Big Tablet */ 
@media screen and (min-width: 1000px) and (max-width: 1495px){
    .background{
        background-color: #b8ed0a;
        margin-top: -30px;
    }
    
        
    h3{
        color: rgb(180, 180, 180);
        font-weight: 700;
    }
    h2{
        color: rgb(180, 180, 180);
    }
    hr{
        background-color: rgb(180, 180, 180);
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    p{
        color: rgb(180, 180, 180);
    }
    
    img{
        border-radius: 2%;
    }
    pre{
        color: rgb(180, 180, 180);
    }
    
    
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
        
    
        /* border: 3px solid rgb(60, 60, 60); */
    }
    .order {
        width: 90%;
        max-width: 900px;
        min-width: 900px;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin-bottom: 1em;
        margin: auto;  
        background-color: #141414;   
    }
    
    .order2 {
        width: 90%;
        max-width: 900px;
        min-width: 900px;
        padding: 1.2%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin: auto;  
        background-color: #141414;  
        text-align: left;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 80px;
        margin-left: 1%;
        display:inline-block;  

        width:47%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:15%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 277px;
        min-width: 277px;
        max-height: 260px;
        min-height: 260px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: left;
        margin-top: 1px;
        margin-bottom: -4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }
}
/* Tablet */ 
@media screen and (min-width: 700px) and (max-width: 1000px){
    .background{
        background-color: #ac0b76;
        margin-top: -10px;
    }
    
    h3{
        color: rgb(180, 180, 180);
        font-weight: 700;
    }
    h2{
        color: rgb(180, 180, 180);
    }
    hr{
        background-color: rgb(180, 180, 180);
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    p{
        color: rgb(180, 180, 180);
    }
    
    img{
        border-radius: 2%;
    }
    pre{
        color: rgb(180, 180, 180);
    }
    
    
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
        
    
        /* border: 3px solid rgb(60, 60, 60); */
    }
    .order {
        width: 90%;
        max-width: 550px;
        min-width: 550px;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin-bottom: 1em;
        margin: auto;  
        background-color: #141414;   
    }
    
    .order2 {
        width: 90%;
        max-width: 550px;
        min-width: 550px;
        padding: 1.2%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin: auto;  
        background-color: #141414;  
        text-align: left;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 80px;
        margin-left: 1%;
        display:inline-block;  

        width:47%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:15%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-width: 251px;
        min-width: 251px;
        max-height: 220px;
        min-height: 220px;
        /*max-width: 300px;
        max-height: 150px;*/
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: left;
        margin-top: 1px;
        margin-bottom: -4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }
}
/* Phone */ 
@media screen and (min-width: 350px) and (max-width: 700px){
    .background{
        background-color: #06a4ff;
        margin-top: -10px;
    }
    
    h3{
        color: rgb(180, 180, 180);
        font-weight: 700;
    }
    h2{
        color: rgb(180, 180, 180);
    }
    hr{
        background-color: rgb(180, 180, 180);
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    p{
        color: rgb(180, 180, 180);
    }
    
    img{
        border-radius: 2%;
    }
    pre{
        color: rgb(180, 180, 180);
    }
    
    
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
        
    
        /* border: 3px solid rgb(60, 60, 60); */
    }
    .order {
        width: 90%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin-bottom: 1em;
        margin: auto;  
        background-color: #141414;   
    }
    
    .order2 {
        width: 90%;
        max-width: 300px;
        min-width: 300px;
        padding: 1.2%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin: auto;  
        background-color: #141414;  
        text-align: center;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 80px;
        margin-right: -1%;
        margin-left: 2%;
        display:inline-block;  
        width:80%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:20%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-height: 200px;
        min-height: 200px;
        max-width: 255px;
        min-width: 25px;
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }
}
/* Small Phone */ 
@media screen and (max-width: 350px){
    .background{
        background-color: #a60e0e;
        margin-top: -10px;
    }

    h3{
        color: rgb(180, 180, 180);
        font-weight: 700;
    }
    h2{
        color: rgb(180, 180, 180);
    }
    hr{
        background-color: rgb(180, 180, 180);
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    p{
        color: rgb(180, 180, 180);
    }
    
    img{
        border-radius: 2%;
    }
    pre{
        color: rgb(180, 180, 180);
    }
    
    
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
        
    
        /* border: 3px solid rgb(60, 60, 60); */
    }
    .order {
        width: 90%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border: none;
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin-bottom: 1em;
        margin: auto;  
        background-color: #141414;   
    }
    
    .order2 {
        width: 90%;
        padding: 1.2%;
        padding: 1em;
        background-color: var(--panel-bg-color,#141414);
        border-radius: var(--border-radius-base,6px);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
        margin: auto;  
        background-color: #141414;  
        text-align: center;
    }
    .crop_img{
        margin-top: 15px;
        margin-bottom: 80px;
        margin-right: -1%;
        margin-left: 2%;
        display:inline-block;  
        width:80%;  /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        height:20%; /* 19 or 24  $num_per_page=35; or $num_per_page=36; */
        max-height: 200px;
        max-width: 200px;
        min-height: 200px;
        min-width: 200px;
        transition: transform .1s;
        box-shadow: 5px 7px 9px 4px rgb(0 0 0 /50%);
        /* border: 3px solid #8d8d8d;
        background-color:#8d8d8d;
        border-radius: 4%; */
        border-radius: 2%;
    }
    .crop_img:hover {
        transform: scale(1.02); 
    }
    
    .img_Title{
        overflow: hidden;
        max-width: 40ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        margin-bottom: -4px;
        margin-top: 2px;
        font-size: 20px;   
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(180, 180, 180);
    }
    
    .img_Description{
        overflow: hidden;
        max-width: 35ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-align: center;
        margin-top: 1px;
        margin-bottom: -4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(180, 180, 180);
    }
}




/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+csharp */
code[class*=language-],pre[class*=language-]{color:#000;background:0 0;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}

.pagination {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}


.pagination a {
    color: white;
    float: left;
    padding: 13px 22px;
    text-decoration: none;
    border-radius: 6%;
    margin: 0 4px;
    background: #1c1c1c;

    border: 3px solid #8d8d8d;
}

.pagingNumbers{
    margin-left: 48.5%;

    padding: 10px;
    border: 3px solid #474747;
    border-radius: 6%;
    pointer-events: none;

}

.nothing{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: rgb(180, 180, 180);   
}

.background{
    background-color: #1c1c1c;
}

